!!! 5

- siteName = "Salmon Fisher Torrent Manager"
- menu_index = "Index"
- menu_about = "About"
- menu_contact = "Contact"
- menu_admin = "Admin"
- menu_logout = "Logout"

html
	head
		title=siteName
		link(href='/css/bootstrap.css', media='screen', rel='stylesheet', type='text/css')
		link(href='/css/main.css', media='screen', rel='stylesheet', type='text/css')

	body
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container
				a.btn.btn-navbar(ata-toggle='collapse', data-target='.nav-collapse')
					a.brand(href='/')=siteName
				div.nav-collapse
					ul.nav
						li
							a(href='/')=menu_index
						li
							a(data-toggle='modal', href='#modal_about')=menu_about
						li
							a(data-toggle='modal', href='#modal_contact')=menu_contact
						- if (user && user.id)
							li
								a(href='/user')=menu_admin
							li
								a(data-toggle='modal', href='#modal_logout')=menu_logout

	div!= body

include modal/about.jade
include modal/contact.jade
- if (user && user.id)
	include modal/logout.jade

script(type="text/javascript", src='/js/jquery-1.7.2.min.js')
script(type="text/javascript", src='/js/bootstrap.js')
