table.table.table-striped
	tr
		th="Title"
		th="Progression"
		th="Size"
		th
		th="Ratio"

	- each torrent in torrents
		tr
			td
				- each tag in torrent.tags
					span.label=tag
					span=" "
				-if(torrent.percentage!='100')
					span=torrent.name
				-else
					a(href=torrent.url)=torrent.name
			td
				-if(torrent.percentage=='100')
					.progress
						.bar(style="width: " + torrent.percentage + "%")
				-else
					- if(torrent.active)
						.progress.progress-striped.active
							.bar(style="width: " + torrent.percentage + "%")
					- else
						.progress.progress-striped
							.bar(style="width: " + torrent.percentage + "%")
			td=torrent.size
			td
				- if(torrent.active)
					i.icon-pause
				- else
					i.icon-play
				span=" "
				i.icon-remove
			td
				- if(torrent.ratio>1)
					span.label.label-success=torrent.ratio
				- else if(torrent.ratio>0.75)
					span.label.label-warning=torrent.ratio
				- else
					span.label.label-important=torrent.ratio
					
